*{
  text-decoration: none;
  
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid green;
}


.App-header img{
  justify-self: start;
  align-items: center;
  border: 2px solid red;
  height: 30px;
}

.nav {
  align-items: center;
}