.friend-card {
    padding: 3%;
    width: 50vw;
    border-radius: 15px;
    margin: 1%;
    background: black;
    color: white;
}

.friend-card h2{
    color: #e4e012;
}

.friends-list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.friends-list img{
    margin-top: 5%;
    width: 200px;
}

.friends-list button {
    background: #1fddff;
    height: 2.5rem;
    border-radius: 10px;
    text-justify: center;
    text-align: center;
    border: unset;
    margin-bottom: 5%;
}